- title 'Android 4'

%ul
  %li
    В Android ICS новый дизайн
  %li
    Меньше градиентов и бликов
  %li
    3D-эффекты — стандартный язык интерфейсы из руководства по дизайну

%figure
  = image_tag('slide.png')
  %figcaption «Дальше листать некуда»
