- title 'Перемещение'
- type  'use3d'

.translate
  .example.translateZ
    .rotator
      .origin
      .changed
        - 9.times do
          %div
  %code
    <span>transform:</span> translateZ(50px)

.translate
  .example.translateX
    .rotator
      .origin
      .changed
        - 9.times do
          %div
  %code
    <span>transform:</span> translateX(50%)
