- title 'Пример — переворот'

.demo
  %p
    Переворот — отличная анимция для смены одного объекта на другой.
    Вспомните сказки — «обратилась в птицу».
  %p
    %a( href="http://groupon.ru/gift_cards" ) groupon.ru/gift_cards
