- title 'Центр трансформации'
- type  'use3d'

.origin
  .example.originNo
    .rotator
      - 9.times do
        %div
  %code
    transform-origin: 50% 50% 0
  .label.x x
  .label.y y
  .label.z z

.origin
  .example.originX
    .rotator
      - 9.times do
        %div
  %code
    transform-origin: <mark>100%</mark> 50% 0
