- title 'Пример — альбом'

.demo
  %p
    Можно обыграть аллюзию на настоящую обложку альбома со списком песен на
    другой стороне
  %p
    %a( href="http://dachip.com/download.html" ) dachip.com/download.html
