- title 'CSS Transforms'

%pre
  %code
    transform: <mark>комманда</mark> <mark>комманда</mark> …;
  .prefixes
    %code
      \<em>-o-</em>transform: комманда комманда …;
    %code
      \<em>-ms-</em>transform: комманда комманда …;
    %code
      \<em>-moz-</em>transform: комманда комманда …;
    %code
      \<em>-webkit-</em>transform: комманда комманда …;
