- title 'Веб, теперь в 3D: Практика'
- cover 'space.jpg'
- type  'use3d'

.orbit
  .monolith
    .top
    .left
      .light
    .front
      .light
    .right
      .light
    .back
      .light
    .bottom
