- title 'Почему CSS Transitions лучше для анимаций'

%ul
  %li
    Стили документа и стили анимаций идут вместе в одном файле
  %li
    Они сами учтут коллизии и прерывания анимации
  %li
    CSS Transitions рисует анимации быстрее
  %li
    Гораздо проще и меньше кода
