- title 'CSS Transforms'

%pre
  %code
    transform: <mark>команда</mark> <mark>команда</mark> …;
  .prefixes
    %code
      \<em>-o-</em>transform: команда команда …;
    %code
      \<em>-ms-</em>transform: команда команда …;
    %code
      \<em>-moz-</em>transform: команда команда …;
    %code
      \<em>-webkit-</em>transform: команда команда …;
