- title 'CSS 2D Transforms'

.transform
  %code
    <span>transform:</span> rotate(45deg)
  .example.origin
  .example.rotate

.transform
  %code
    <span>transform:</span> translateX(60px)
  .example.origin
  .example.translate

.transform
  %code
    <span>transform:</span> skewY(20px)
  .example.origin
  .example.skew

.transform
  %code
    <span>transform:</span> scale(0.5)
  .example.origin
  .example.scale
