- title 'Шаг 4. Добавляем анимации'
- type  'use3d'

%pre
  %code
    \.task .hal9000, .task .love
  %code
    \  +transition(all 1s linear)

.task.animate-hover
  .hal9000
  .love
    %em HAL 9000
    любит всех
