- title 'CSS 3D Transforms'

%p Новые команды для работы в трёхмерном пространстве:
%ul
  %li
    <code>rotateX</code>, <code>rotateY</code> и <code>rotate3d</code>
  %li
    %code translateZ
  %li
    %code skewZ
  %li
    %code scaleZ
  %li
    %code matrix3d
