- title 'Шаг 7. Старые браузеры'

%pre
  %code
    \<mark>.no-csstransforms3d</mark> .task .love
  %code
    \  display: none
  %code
    \<mark>.no-csstransforms3d</mark> .hal9000
  %code
    \  display: none
  %code
    \<mark>.no-csstransforms3d</mark> .love
  %code
    \  display: block
