- title 'Андрей «A.I.» Ситник'
- cover 'space.jpg'

.contacts
  %a( href="http://sitnik.ru" )
    %span sitnik.ru
  %a( href="http://twitter.com/andrey_sitnik" )
    @<span>andrey_sitnik</span>

%a.martians( href="http://evilmartians.ru/" )
  .arrow ←
  %span Злые марсиане
  .icon
