- title 'Андрей «A.I.» Ситник'
- cover 'space.jpg'

%ul.contacts
  %li
    %a( href="http://sitnik.ru" )
      %span sitnik.ru
  %li
    %a( href="http://twitter.com/andrey_sitnik" )
      @<span>andrey_sitnik</span>

%a.martians( href="http://evilmartians.ru/" )
  .arrow ←
  %span Злые марсиане
  .icon
