- title 'Шаг 5. Свет'

%pre
  %code
    \.task .love, .task:hover .hal9000
  %code
    \  <mark>background-color: #ccc</mark>
  %code
    \.task:hover .love, .task .hal9000
  %code
    \  <mark>background-color: white</mark>
