- title 'Верстальщик — тоже программист'

Используйте техники программистов:

%ul
  %li
    Используйте препроцессы (Sass, LESS, CoffeeScript и т. п.),
    чтобы быть свободными в выборе языков
  %li
    Автоматизируйте создание спрайтов и вставку картинок в CSS
    (например, с помощью Compass).
