- title 'Перспектива'
- type  'use3d'

.perspective
  .example.big
    .rotator
      - 9.times do
        %div
  %pre
    %code perspective: <mark>2000px</mark>
    %code transform: rotateY(45deg)

.perspective
  .example.small
    .rotator
      - 9.times do
        %div
  %pre
    %code perspective: <mark>200px</mark>
    %code transform: rotateY(45deg)
