- title 'Вращай, двигай, загибай — практика 3D в Вебе'
- cover 'space.jpg'

.orbit
  .monolith
    .top
    .left
      .light
    .front
      .light
    .right
      .light
    .back
      .light
    .bottom
