- title 'Metro: Windows Phone и Windows 8'

%ul
  %li
    Мало градиентов, скруглений, бликов
  %li
    3D-анимации переходов между окнами
  %li
    <a href="http://m.microsoft.com/windowsphone/en-us/demo/index.html#home">Демо</a>,
    %a( href="http://www.youtube.com/watch?v=wlJ_fLPpmdM" ) Видео

%figure
  = image_tag('click.png')
  %figcaption Прогибание иконки при нажатии
