- title 'Примеры WebGL'

%ul
  %li
    %a( href="http://madebyevan.com/webgl-water/" )
      Динамическое освещение и вода
  %li
    %a( href="https://chrome.google.com/webstore/detail/hdahlabpinmfcemhcbcfoijcpoalfgdn" )
      Игра с огромными человекоподобными роботами
  %li
    %a( href="http://www.google.ru/nexus/" )
      Обзор телефона
  %li
    %a( href="https://www.google.com/search?q=tan(abs(x/2)%2Babs(y/2))" )
      График функции в Google
