- title 'Сравниваем улучшения'
- type  'use3d'

.hoverer
  %p
    Без улучшений
  %p.cool
    Со светом и easing

  .task
    .hal9000
    .love
      %em HAL 9000
      любит всех

  .task.cool
    .hal9000
      .light
    .love
      .light
      %em HAL 9000
      любит всех
