- title 'Сравниваем улучшения'
- type  'use3d'

%p
  Без улучшений
%p.cool
  Со светом и easing

.task.animate-hover
  .hal9000
  .love
    %em HAL 9000
    любит всех

.task.cool.animate-hover
  .hal9000
    .light
  .love
    .light
    %em HAL 9000
    любит всех
