- title 'Примеры WebGL'

%ul
  %li
    %a( href="http://madebyevan.com/webgl-water/" )
      Динамическое освещение и вода
  %li
    %a( href="https://chrome.google.com/webstore/detail/hdahlabpinmfcemhcbcfoijcpoalfgdn" )
      3D-игра с огромными человекоподобными роботами
